body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background: linear-gradient(to right, rgba(75, 72, 62, 0.829), rgba(119, 94, 10, 0.87)); */
    /* background: linear-gradient(to left, rgba(42, 8, 236, 0.233), rgba(236, 13, 13, 0.247)); */
    
    color: rgba(18, 162, 167, 0.795);
  }

  section {
    width: 80vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(to right, rgba(87, 61, 233, 0.651), rgba(228, 64, 64, 0.644)); */
    background-color: rgba(179, 47, 54, 0.808);
    color: rgba(8, 8, 8, 0.815);
    box-shadow: 0px 0px 10px 2px rgba(231, 229, 219, 0.747), 
                0px 0px 20px 4px rgba(231, 229, 219, 0.747), 
                0px 0px 30px 6px rgba(42, 8, 236, 0.5), 
                0px 0px 40px 8px rgba(231, 229, 219, 0.747),
                0px 0px 50px 10px rgba(236, 13, 13, 0.575), 
                0px 0px 60px 20px rgba(236, 13, 13, 0.575), 
                0px 0px 100px 40px rgba(231, 229, 219, 0.747);
    z-index: 1;
    border-radius: 1%;
    transition: 1.5s;
  }

  form {
    background-color: transparent;
    color:rgb(39, 16, 5);
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem ;
    /* font: 24px "Lucida Grande", Helvetica, Arial, sans-serif; */
  }

  input {
    margin-top: 20px;
    border-radius: 10px;
    width: 80%;
    height: 20%;
    border: none;
    font-size:large ;
    text-align: center;

  }
  input:focus{
    outline: none;
  }
  
  button {
    width: 80%;
    height: 20%;
    border-radius: 10px;
    /* background-color: rgba(195, 192, 212, 0.726); */
    box-shadow: 0px 0px 10px 2px rgba(209, 203, 196, 0.747), 
                0px 0px 20px 4px rgba(209, 203, 196, 0.747);
    font-size: 1.2rem ;
    transition: 1.2s;
    border: none;
    outline: none;
    cursor: pointer;


  }
  button:hover{
    background-color: rgba(245, 241, 202, 0.863);
    transition: 1.2s;
    transform: scale(1.1);
  }
  button:focus{
    border: 2px solid rgba(14, 12, 1, 0.733);
  }

  .button-1{
    background-color: rgba(12, 175, 12, 0.616);
  }
  .button-2{
    background-color: rgba(236, 19, 19, 0.508);
  }
  section:hover{
    transform: scale(1.1);
    transition: 1.5s;
  }